@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  background-color: #0a2750;
  color: #ffffff;
}
.about__title {
  padding-top: 100px;
  padding-left: 80px;
  max-width: 251px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 1;
  margin: 0;
}

.about__newline {
  display: block;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  left: -152px;
  top: -129px;
  z-index: 0;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}

.about__content {
  max-width: 660px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding-right: 80px;
  padding-top: 119px;
  padding-bottom: 173px;
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph {
  margin: 0;
  padding: 0;
}
